html, body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: -300px; /* Adjust this value as needed to raise the box vertically */
    border-radius: 15px; /* Adjust the value for more or less rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
}

#clickMeButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#bobaCountButton {
    position: absolute;
    top: 25%; /* Adjust top position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Move button back by half of its own width */
}