html, body {
    height: 100%;
}

.navbar {
    z-index: 1001;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: -300px; /* Adjust this value as needed to raise the box vertically */
    border-radius: 15px; /* Adjust the value for more or less rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
}

#clickMeButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#bobaCountButton {
    position: fixed;
    top: 70px; /* Adjust top position as needed */
    right: 20px; /* Center horizontally */
    z-index: 1000;
}

@keyframes rainAnimation {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh);
        opacity: 1;
    }
}

.rain-image {
    position: fixed;
    top: -100px; /* Start above the viewport */
    width: 30%; /* Adjust image scale */
    animation: rainAnimation 3s linear; /* Adjust animation duration as needed */
    z-index: 1000;
    pointer-events: none; /* Prevent clicks on rain images */
    opacity: 0; /* Start with 0 opacity */
}
