body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    scroll-behavior: smooth;
    background: linear-gradient(rgba(255, 255, 255, 0.387), rgba(0, 0, 0, 0.387)), url('../los_angeles.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.navbar {
    z-index: 1001;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.intro-text {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.intro-text h2 {
    font-size: 22px; /* Adjust the font size as needed */
}

.intro-text p {
    font-size: 18px; /* Adjust the font size as needed */
}

.card {
    position: relative;
    width: 90%; /* Adjust the width of the card */
    height: 40vh; /* Adjust the height of the card */
    margin: 20px 0; /* Space between cards */
    background-size: contain; /* Ensure the image scales to fit */
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease-in-out; /* Gradient transition effect */
    border-radius: 10px; /* Optional: round the corners of the cards */
    border-width: 4px;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add a shadow effect */
}

.caption-box {
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    padding: 20px;
    width: 80%;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

@media (min-width: 768px) {
    .card {
        width: 70%; /* Adjust the width for larger screens */
        height: 60vh; /* Adjust the height for larger screens */
    }
}